---
export const prerender = false
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { type CollectionEntry, getCollection } from 'astro:content';
import { render } from 'astro:content';

interface Props {
	entry: CollectionEntry<'works'>;
}

export async function getStaticPaths() {
	const piece = await getCollection('works');
	return piece.map((entry: { id: any; }) => ({
		params: { slug: entry.id.toLowerCase().replace(/\s+/g, '-').replace(/[^a-z0-9-]/g, '') },
		props: { entry },
	}));
}

const { entry } = Astro.props;

if (!entry) {
  return Astro.redirect('/404');
}

const { Content } = await render(entry);
---

<StarlightPage frontmatter={{title: ''}}>

	<div class="stack gap-20">
		<div class="stack gap-15">

		<Content />

		</div>

	</div>

</StarlightPage>