
@layer base, starlight, theme, components, utilities, overrides;


@layer overrides {
    .large-graph .graph-container {
    --slsg-graph-width: 100%;
}

.pagePreview div {
  font-size: var(--sl-text-xs);
  margin: 0;
}


}