@import '@fontsource-variable/grenze-gotisch';
@import '@fontsource-variable/noto-serif';
@import '@astrojs/starlight-tailwind';

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #e5c484;
    --color-accent-600: #6a4d00;
    --color-accent-900: #422e00;
    --color-accent-950: #302100;
    /* Generated gray color palettes. */
    --color-gray-100: #f9f5f3;
    --color-gray-200: #f3ece8;
    --color-gray-300: #c8c0bb;
    --color-gray-400: #97887e;
    --color-gray-500: #63554b;
    --color-gray-600: #63554b;
    --color-gray-700: #42352c;
    --color-gray-800: #30241b;
    --color-gray-900: #1d1713;

}


:root {
        /* heading font sizes */
        --sl-text-h1: var(--sl-text-4xl);
        --sl-text-h2: var(--sl-text-3xl);
        --sl-text-h3: var(--sl-text-2xl);
        --sl-text-h4: var(--sl-text-xl);

        /* fonts */

        .site-title {
            font-family: 'Grenze Gotisch Variable', system-ui;
            font-weight: 900;
        }

        h1 {
            font-family: 'Grenze Gotisch Variable', system-ui;
            font-weight: 600;
        }

        h1#_top{
            margin: 0;
        }

       .sl-link-card .title, .sl-link-card a {
            font-family: 'Noto Serif Variable', serif;
        }

       .sidebar-content a, .sidebar-content .group-label, .right-sidebar .title {
            font-family: 'Noto Serif Variable', serif;
        }

        starlight-theme-select {
            font-family: 'Grenze Gotisch Variable', system-ui;
            font-weight: 600;
        }


        .sidebar-content summary .caret {
            transform: rotate(-90deg);
        }

        .sidebar-content summary:hover {

            .caret {
                transform: rotate(-115deg);
                background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
                color: var(--sl-color-text-accent);
            }

            .group-label {
                background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
                color: var(--sl-color-text-accent);
            }

        }

        .sidebar-content ul li ul li a {
			display: grid;
			grid-template-columns: 1fr auto;
			border: 2px solid var(--sl-color-gray-6);
			border-radius: 0.5rem;
            position: relative;
			padding: 1rem;
			box-shadow: var(--sl-shadow-sm);
			text-decoration: none;
			line-height: var(--sl-line-height-headings);
			flex-direction: column;
			margin: 0.5rem;
			color: var(--sl-color-text-accent);
			font-weight: 600;
			font-size: var(--sl-text-m);

            :hover {
			    background-color: var(--sl-color-gray-7, var(--sl-color-gray-6));
			    border-color: var(--sl-color-gray-2);
            }
        }

        .right-sidebar .sl-link-card {
            width: fit-content;
            padding: 0.5rem;
            margin: 1rem;
        }

        .right-sidebar .sl-link-card .title {
            font-size: var(--sl-text-sm);
        }

}
