@import '@fontsource-variable/grenze-gotisch';
@import '@fontsource-variable/noto-serif';
@import '@astrojs/starlight-tailwind';

@layer base {
  button:not([disabled]),
  [role="button"]:not([disabled]) {
    cursor: pointer;
  }
}

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #e5c484;
    --color-accent-600: #6a4d00;
    --color-accent-900: #422e00;
    --color-accent-950: #302100;
    /* Generated gray color palettes. */
    --color-gray-100: #f9f5f3;
    --color-gray-200: #f3ece8;
    --color-gray-300: #c8c0bb;
    --color-gray-400: #97887e;
    --color-gray-500: #63554b;
    --color-gray-600: #63554b;
    --color-gray-700: #42352c;
    --color-gray-800: #30241b;
    --color-gray-900: #1d1713;

}


    :root {
        /* heading font sizes */
        --sl-text-h1: var(--sl-text-4xl);
        --sl-text-h2: var(--sl-text-3xl);
        --sl-text-h3: var(--sl-text-2xl);
        --sl-text-h4: var(--sl-text-xl);

        /* fonts */

        .site-title {
            font-family: 'Grenze Gotisch Variable', system-ui;
            font-weight: 900;
        }

        h1 {
            font-family: 'Grenze Gotisch Variable', system-ui;
            font-weight: 600;
        }

        h1#_top{
            margin: 0;
        }

       .sl-link-card .title {
            font-family: 'Noto Serif Variable', serif;
        }

       .sidebar-content a, .sidebar-content .group-label, .right-sidebar .title {
            font-family: 'Noto Serif Variable', serif;
        }

        starlight-theme-select {
            font-family: 'Grenze Gotisch Variable', system-ui;
            font-weight: 600;
        }

        .right-sidebar .sl-link-card {
            width: fit-content;
            padding: 0.5rem;
            margin: 1rem;
        }

        .right-sidebar .sl-link-card .title {
            font-size: var(--sl-text-sm);
        }

    }
