---
import Layout from '../components/Layout.astro';
---

<Layout pageTitle='Page not found' tabTitle='404' pageStyle='full'>
	<h1>404</h1>
	<p>we've got lost somehow.</p>
	<p>
		<a href="/">let's go back to the index.</a>
	</p>
</Layout>
