---


import Layout from '@/components/Layout.astro';
import { Card, LinkCard, CardGrid } from '@astrojs/starlight/components';
import { getCollection } from 'astro:content';
const allItems = await getCollection('earth');

---

<Layout pageTitle='in the wind and the wires' tabTitle='index' pageStyle='full' starlightSettings={{
      next: false,
      prev: false,
      graph: {visible: false},
      template: 'splash',
      hero: {
            title: 'in the wind and the wires',
            actions: [
            { text: 'till the earth',
                  link: '/earth/start-here/',
                  icon:'right-arrow'
            },{ text: 'library',
                  link:'/library/start-here/',
                  icon: 'right-arrow',
                  variant: 'minimal'
            },{ text: 'show me the way',
                  link: '/about/what-is-this',
                  icon: 'right-arrow',
                  variant: 'minimal'
            }
            ]
      }
}}>


       this site indexes an amorphous collection of notes / thoughts / concepts / resources
       (along with my <a href="/works/thesis/masters-thesis">Masters thesis</a>)

      <div class="sl-container" style="margin-top: 2rem">
            <LinkCard title="about the author: a neuro-queer cyber-creative human-creature" href="/about/about" />
      </div>
</Layout>