---
import { LinkCard } from '@astrojs/starlight/components';
import { getLinks } from '../scripts/getLinks';
import { debracketKeepFirst, debracketKeepTitleOrAlias, slugify } from '@/scripts/util';
import type { ReferenceDataEntry } from 'astro:content';
import type { DataEntryMap } from 'astro:content';

const { entry } = Astro.locals.starlightRoute;
let children : ReferenceDataEntry<keyof DataEntryMap>[] = await getLinks("children", "docs", entry.id);
---

	<div class="text-sm" >
        {children && children.length > 0 &&
         (children.map((child: { id: string; }) => (
            <LinkCard title={ debracketKeepTitleOrAlias(child?.id) } href={"/earth/" + (slugify(debracketKeepFirst(child?.id)) ?? "")} />
        )))}

</div>