---

---

<div class="sidebar-left-top" style="border: 2px dashed slateblue; line-height: 1.1rem; padding:0.4rem; margin-bottom: 1.5rem">
		<h4 style="line-height: 1.5rem;">ongoing work!</h4>
		<p>please excuse:</p>
		<ul>
			<li>broken links and dodgy css</li>
			<li>sensitive topics decontextualised</li>
			<li>excluded metadata</li>
			<li>seemingly empty pages</li>
		</ul>
		<p>licensing:</p>
		<ul>
			<li>code: <i>MIT license</i></li>
			<li>assets and excerpts: mostly don't belong to me,<i> variable</i></li>
			<li>content: <i>CC BY-NC 4.0</i></li>
		</ul>
</div>

<style>
	.sidebar-left-top {
		flex-direction: column;
		gap: 0.75rem;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 0.75rem;
		font-size: var(--sl-text-sm);
		color: var(--sl-color-gray-3);
	}

	.sidebar-left-top a {
		text-decoration: none;
		color: slateblue;
	}
	.sidebar-left-top > :global(p:only-child) {
		margin-inline-start: auto;
	}

</style>