---

---

<div class="sidebar-left-top" style="border: 2px dashed slateblue; padding:3px; margin-bottom: 1.5rem">
		<p>ongoing work!</p>
		<p>please excuse broken things</p>
		<p>there will be </p>
		<p>- sensitive topics decontextualised</p>
		<p>- metadata excluded</p>
		<p>- a lot of index pages with no content</p>
</div>

<style>
	.sidebar-left-top {
		flex-direction: column;
		gap: 0.75rem;
		justify-content: space-between;
		flex-wrap: wrap;
		margin: 0 0.75rem;
		font-size: var(--sl-text-sm);
		color: var(--sl-color-gray-3);
	}

	.sidebar-left-top a {
		text-decoration: none;
		color: slateblue;
	}
	.sidebar-left-top > :global(p:only-child) {
		margin-inline-start: auto;
	}

</style>