---
import MobileTableOfContents from '@astrojs/starlight/components/MobileTableOfContents.astro';
import TableOfContents from '@astrojs/starlight/components/TableOfContents.astro';


import PageBacklinks from "./PageBacklinks.astro";
import { getEntry, type DataEntryMap } from 'astro:content';
const collections: (keyof DataEntryMap)[] = ["docs", "library", "earth", "entities"];
const slug = String(Astro.params.id ?? '').replace(/\/$/, '');
const headings = true;

// Safely access starlightRoute
let starlightRoute: any;
try {
	starlightRoute = Astro.locals.starlightRoute;
} catch (e) {
	starlightRoute = {};
}
---

<>
	<div class="lg:sl-hidden">

      </div>
			<div class="right-sidebar-panel sl-hidden lg:sl-block">
			<div class="sl-container">
            <h2>also links here:</h2>
          <PageBacklinks class="backlinks-panel">
          </PageBacklinks>
        </div>
			</div>
</>

{headings && (
	<>
		<div class="lg:sl-hidden">
			<MobileTableOfContents />
		</div>
		<div class="right-sidebar-panel sl-hidden lg:sl-block">
			<div class="sl-container">
				<a href={'#_top'}><h2 class="toc-title">on this page:</h2></a>
				<TableOfContents />
			</div>
		</div>
	</>
)}

<style>
	:root {
		.right-sidebar-panel {
			padding: 0.8rem var(--right-sidebar-pad-x);
		}

		.right-sidebar-panel #starlight__on-this-page, .right-sidebar-panel ul:nth-child(2) li:first-child {
			display: none;
		}


		.right-sidebar-panel .sl-container {
			width: calc(var(--right-sidebar-width) - 2 * var(--right-sidebar-pad-x));
		}
		.right-sidebar-panel h2 {
			color: var(--sl-color-white);
			font-size: var(--sl-text-h6);
			font-weight: 500;
			line-height: var(--sl-line-height-headings);
			margin-bottom: 0.5rem;
      		font-family: "Noto Serif Variable", serif !important;
		}
		.right-sidebar-panel #starlight__on-this-page {
			display: none;
		}

	}
</style>