---
import { CardGrid } from '@astrojs/starlight/components';
import { debracketKeepAlias, debracketKeepFirst, slugify } from '@/scripts/util';
import type { CollectionEntry, DataEntryMap, ReferenceDataEntry } from 'astro:content';
import { getCollection } from 'astro:content';
import PreviewCard from './PreviewCard.astro'
import { getLinks } from '@/scripts/getLinks';


const { entry } = Astro.locals.starlightRoute;

let peers : ReferenceDataEntry<keyof DataEntryMap>[] = await getLinks("peers", "docs", entry.id);

const peerAliasMap = new Map<string, string>();
peers.forEach((peer) => {
  const rawLink = debracketKeepFirst(String(peer.id));
  const alias = debracketKeepAlias(String(peer.id));
  peerAliasMap.set(rawLink, alias);
});

let allEntries = await getCollection("docs");
let peerCards : {peer: CollectionEntry<'docs'>, alias: string}[] = [];

for (const peer of peers) {
  const peerTitle = (debracketKeepFirst(String(peer.id)));
  const alias = debracketKeepAlias(String(peer.id));
  const slug = slugify(peerTitle);
  const matchingEntry = allEntries.find((entry) => entry.id.includes(slug));
  if (matchingEntry) {
    peerCards.push({ peer: matchingEntry, alias: alias });
  }
}

---
<div class="lg:sl-hidden"></div>
<div class="sl-hidden lg:sl-block">
  <div class="sl-container" aria-label="peer links">
    <div class="text-sm">
      { peerCards ? <CardGrid>
        {
          peerCards?.map((card) => {
            return (
              card ? (
              <PreviewCard title={(card.alias && card.alias !== '') ? card.alias : card.peer.data.title}
               overflow="scroll" link={'/' + card.peer.id} md={card.peer.body??''} >
              </PreviewCard>
              ) : null
            )
          })
        }
        </CardGrid>
      : ''
    }
</div></div></div>