---
import { ScrollArea } from './ui/scroll-area';
import type { StarlightIcon } from 'node_modules/@astrojs/starlight/components/Icons';
import { Markdown } from '@astropub/md'
import { Button } from './ui/button';
import { Icon } from '@astrojs/starlight/components';

interface Props {
	icon?: StarlightIcon;
	title: string;
    overflow?: string;
	link?: string;
	md: string;
}

const { title, overflow, link, md} = Astro.props;
---

{ (overflow && overflow === "scroll" && md && md !== '') ?
		<article class="previewCard card sl-flex rounded-md text-[14px]">
			<div class="title sl-flex text-2xl">
				<a href={link??'/'}>
				 <Icon name="up-arrow" size="2em" class="icon rtl:flip arrows" />
					<span set:html={title} />
				 <Icon name="up-arrow" size="2em" class="icon rtl:flip arrows" />
				</a>
			</div>
			<ScrollArea className="pagePreview p-0.5 max-h-50 w-auto">
				<Markdown of={md} />
				<slot />
			</ScrollArea>
			<a href={link??'/'}><Button variant="default" size="icon" aria-label="See More" className="bottomDots">...</Button></a>
		</article>
		:
		<article class="previewCard card sl-flex rounded-md text-[14px]">
			<div class="title sl-flex text-2xl">
				<a href={link??'/'}>
				 <Icon name="up-arrow" size="2em" class="icon rtl:flip arrows" />
					<span set:html={title} />
				 <Icon name="up-arrow" size="2em" class="icon rtl:flip arrows" />
				</a>
			</div>
			<div class="sl-container">
				<p class="small-faded">no preview</p>
			 </div>
		</article>
}


<style>
	:root[data-theme="dark"] {
		.previewCard {
			background-color: var(--color-gray-900);
		}
	}
	:root[data-theme="light"] {
		.previewCard {
			background-color: var(--color-gray-200);
		}
	}
	:root {
		.previewCard {
			border: 2px double var(--sl-color-gray-5);
			background-color: var(--color-gray-900);
			flex-direction: column;
			max-width: 20vw;
			overflow: hidden;
			max-height: 28vh;
		}

		.previewCard .title {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.4rem;
		}

		.previewCard .title a {
			display: flex;
			align-items: center;
			gap: 0.5rem;
			text-decoration: none;
		}

		.previewCard .title a span {
			line-height: 1.1;
			display: inline-flex;
			align-items: center;
		}

		.previewCard .icon {
			border: 1px solid var(--sl-card-border);
			background-color: var(--sl-card-bg);
			border-radius: 0.25rem;
			flex-shrink: 0;
		}
		.previewCard .pagePreview {
			font-size: clamp(var(--sl-text-sm), calc(0.5rem + 1vw), var(--sl-text-body));
			padding: 0;
			overflow-y: scroll;
			overflow-x: wrap;
		}

		.previewCard .bottomDots {
			margin: 0.5rem;
			padding: 0.1em;
			text-decoration: none;
			width: 96%;
		}

		.small-faded {
			font-size: x-small;
			color: var(--color-gray-600)
		}

	}
</style>