---
import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro';
import SidebarPersister from '@astrojs/starlight/components/SidebarPersister.astro';
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro';
import LeftSideFooter from './LeftSideFooter.astro';
import type { StarlightRouteData } from '@astrojs/starlight/route-data';
import LeftTop from './LeftTop.astro';

const { sidebar } : StarlightRouteData = Astro.locals.starlightRoute;

---
<div class="max-w-md">

<LeftTop />

<SidebarPersister>
	<SidebarSublist sublist={sidebar} />
</SidebarPersister>

<LeftSideFooter />

<div class="md:sl-hidden">
	<MobileMenuFooter />
</div>

</div>