---
import { debracketKeepFirst } from "@/scripts/util";
import Layout from "../../components/Layout.astro";

import type { CollectionEntry } from 'astro:content';
import { getCollection, render} from "astro:content";
import { LinkCard } from "@astrojs/starlight/components";
import { Tag } from "lucide-react";



interface Props {
	page: CollectionEntry<'entities'>;
}

export async function getStaticPaths() {
  const pages = await getCollection('entities');
  return pages.map(page => ({
    params: { id: page.id },
    props: { page },
  }));
}
const { page } = Astro.props;
const { Content } = await render(page);
export const prerender = true;
---

<Layout pageTitle={ page.data.title } pageStyle='entities' starlightSettings={{prev: false, next: false, graph: {visible: false}}}>
   {page.data.author??''}
   {page.data.caveats ? (
    <div class="sl-container">
          {page.data.caveats.map((X: any) => (
        <Tag>{debracketKeepFirst(X)}</Tag>
          ))}
    </div>
  ) : null}
<Content />
</Layout>